<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{newsDetail.userName}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-1" >
      <p>
        {{newsDetail.content}}<a >{{newsDetail.url}}</a>
      </p>
      <span class="fluid-video">
        <iframe [src]="sanitizedUrl(newsDetail.url)" width="500" height="200" frameborder="0"></iframe>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <a  style="height: 24px; width: 24px; display:inline-block;" mat-button><mat-icon>arrow_upward</mat-icon></a>
        <div style="display:inline-block">{{newsDetail.vote}}</div>
        <a style="height: 24px; width: 24px; display:inline-block" mat-button><mat-icon>arrow_downward</mat-icon></a>
        <a style="display:inline-block" mat-button>Share</a>
        <a style="display:inline-block" mat-button  >{{newsDetail.comments.length}} Comments</a>
      </div>
      <div *ngFor="let comment of newsDetail.comments" style="
      margin-top: 1rem;
      margin-left: 2rem;
  ">
        <label style="display: block;">{{comment.userName}}</label>
        <textarea rows="4" cols="100%"  style="padding-top: .5rem;" readonly>
         {{comment.comment.trim()}}
          </textarea>
          
      </div>

       <form [formGroup]="commentForm"  style="
       margin-top: 1rem;
       margin-left: 2rem;
   " >
        <label style="display: block;">{{commentObj.userName}}</label>
        <textarea rows="4" cols="100%"  formControlName="comment"  style="padding-top: .5rem;" style="display: block;"></textarea> 
      <a (click)="postComment()"  mat-button  style="margin-top: 1.5rem; " >Post</a>          
        </form>

    </mat-card-actions>
  </mat-card>