mat-sidenav-content{
margin-top: 55px;
padding-top: 10px;
 background: #f2f2f2;
}

mat-sidenav{
    width:13%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .fluid-video{
	display:block;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16/9 format */
	overflow: hidden;
	position: relative;
}
 
.fluid-video iframe, .fluid-video embed, .fluid-video object{
	width: 100%!important; height: 100%!important;
	position: absolute;
	top: 0; left: 0;
}
