<app-news-app-header></app-news-app-header>
<mat-sidenav-container >
  <mat-sidenav-content>
    <div class="container">
            <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

