<mat-card class="example-card" *ngFor="let item of news">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-1" >
      <p>
        {{item.content}}<a >{{item.url}}</a>
      </p>
      <span class="fluid-video">
        <iframe [src]="sanitizedUrl(item.url)" width="500" height="200" frameborder="0"></iframe>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <a  style="height: 24px; width: 24px; display:inline-block;" mat-button><mat-icon>arrow_upward</mat-icon></a>
        <div style="display:inline-block">{{item.vote}}</div>
        <a style="height: 24px; width: 24px; display:inline-block" mat-button><mat-icon>arrow_downward</mat-icon></a>
        <a style="display:inline-block" mat-button>Share</a>
        <a style="display:inline-block" mat-button (click)="navigateDetailView(item)"  >{{item.commentCount}} Comments</a>
      </div>
      <!-- <a mat-button>LIKE</a> -->
      
    </mat-card-actions>
  </mat-card>
  <hr>
  