<mat-toolbar style="padding: 0;
height: 60px;
background-color: #fff;
border-bottom: 1px solid #ebeaeb;
z-index: 1000;
top: 0;
position: fixed;">
    
    <mat-toolbar-row>
        <img src="assets/iconfinder_Gnome-Timezone-64_55771.png" alt="" width="auto" height="auto">
        <span>24h News</span>
      </mat-toolbar-row>
  </mat-toolbar>